[Unit]
Description=uWSGI service to serve the Reversi Game
After=network.target nodeDb.service

[Service]
User=root
WorkingDirectory=/home/jeremyq357/reversi/server/reversiServer
ExecStart=/home/jeremyq357/.local/bin/uwsgi \
            -s /home/jeremyq357/reversi/server/sockets/sock1 --module reversiServer.wsgi \
            --disable-logging --static-map /=/home/jeremyq357/reversi/server/reversiServer/build --chmod-socket=666 & \
            /home/jeremyq357/.local/bin/uwsgi -s /home/jeremyq357/reversi/server/sockets/sock2 \
            --module reversiServer.wsgi --disable-logging --static-map /=/home/jeremyq357/reversi/server/reversiServer/build

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target