[Unit]
Description=uWSGI service to serve the Reversi Game
After=network.target nodeDb.service

[Service]
User=root
WorkingDirectory=/home/jeremyq357/reversi/server/reversiServer
ExecStart=/usr/bin/uwsgi -s /tmp/uwsgi.sock --module reversiServer.wsgi --static-map /=$(pwd)/build
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target