{
    "dbInstances":[
        {
            "name": "db0",
            "port": 9000,
            "server": "127.0.0.1"
        },
        {
            "name": "db1",
            "port": 9001,
            "server": "127.0.0.1"
        },
        {
            "name": "db2",
            "port": 9002,
            "server": "127.0.0.1"
        }
    ]
}